body {
    position: relative;
    font-size: 16px;
    color: #444444;
}

pre code {
    white-space: pre;
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: "Source Code Pro";
    background-color: #111111;
    color: #eeeeee;
}

code {
    font-size: 0.9em !important;
    color: #9103A9;
    background-color: #f0f0f0;
}

h3, h4, h5, h6 {
    margin-top: 2em;
}

.xtra-top {
    margin-top: 2em;
}

.main-nav {
    background-color: #444444;
    margin-bottom: 10px;
}

.main-nav .nav>li>a {

}

.navbar {
    border-radius: 0px;
}

.logo {
    padding: 4px;
    height: 64px;
}

.doc-nav {
    font-size: 0.7em;
}

.doc-nav.affix {
    top: 80px;
}
.doc-nav.affix-bottom {
    position: absolute;
    bottom: 100px;
}

.doc-nav .nav>li>a {
    padding: 0em;
    padding-left: 0.5em;
}

.doc-nav .nav .nav>li>a {
    padding: 0em;
    padding-left: 2em;
}

.doc-nav .nav .nav .nav>li>a {
    padding: 0em;
    padding-left: 3em;
}

.doc-nav .nav>li.active>a,
.doc-nav .nav .nav>li.active>a,
.doc-nav .nav .nav .nav>li.active>a {
    color: #4CAF50;
    background: #fcfcfc;
}

.doc-nav .nav>li.active>a {
    border-left: 4px solid #4CAF50;
}

.doc-nav .nav .nav>li.active>a {
    border-left: 2px solid #4CAF50;
    margin-left: 2px;
    padding-left: -2px;
}

.doc-nav .nav .nav .nav>li.active>a {
    border-left: 1px solid #4CAF50;
    margin-left: 3px;
    padding-left: -3px
}



pre {
    padding: 1em;
    line-height: 1em;
    font-size: 1.1em;
    border-radius: 8px;
}